<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.1">
    
    <name>Edit Plist file</name>
    
    <description>
        A cordova "plugin" that helps you indicate the modifications on the iOS's *-info.plist file.<br/>
        So it avoids you to directly edit the *-info.plist file.<br/>
        For example it is used to whitelist some schemes for ios9.<br/>
        This plugin was initially created to avoid iOS 9 problems that prevent opening other apps from your own app because some used plugins aren't updated to take into consideration the new specification for iOS 9.
    </description>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    
    
    <!-- ios -->
    <platform name="ios">
        
        <!-- iOS9 whitelisting -->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>twitter</string>
                <string>fb</string>
                <string>whatsapp</string>
                <string>itms-apps</string>
                <string>youtube</string>
                <string>soundcloud</string>
            </array>
        </config-file>
        
        
        
    </platform>
    
</plugin>
